@import "tailwindcss";

@layer components {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.vazir-font {
		font-family: Vazirmatn, sans-serif;
	}

	.page-wrapper {
		min-height: 100vh;
		display: grid;
		gap: 20px;
		grid-template-rows: auto auto auto 1fr;
	}

	.app_container {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding-inline: 17px;
	}
}
